In [1]:
import urllib.request
from bs4 import BeautifulSoup as BS
import pandas as pd

request = urllib.request.Request('https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900')
result = urllib.request.urlopen(request)
resulttext = result.read()

soup = BS(resulttext, 'html.parser')
soup.prettify


data = []
table = soup.find('table', class_ = 'sortable wikitable')


table = table.find_all('tr')
headers = soup.find_all('th')

for row in table:
    cells = row.find_all('td')
    cells = [ele.text.strip() for ele in cells]
    data.append(cells)
eq_df = pd.DataFrame(data)
  
    
eq_df.columns = ['origin','country','lat','long','depth','mag','sec_effects','shaking_death','pde_total','utsu_total','emdat_total','other']

headers
eq_df.head()

,origin,country,lat,long,depth,mag,sec_effects,shaking_death,pde_total,utsu_total,emdat_total,other
0,None,None,None,None,None,None,None,None,None,None,None,None
1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,
2,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,
3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,
4,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:Dg033018@127.0.0.1:5432/nashville')
#eq_df.to_sql('earth_quakes', engine)
a=pd.read_sql_query('select * from earth_quakes',con=engine)
a.head(10)

,index,origin,country,lat,lng,depth_km,magnitude,sec_effects,shaking_deaths,pde_total,utsu_total,em_total,other_deaths
0,1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0,,,,,,
1,2,1900-07-12 06:25,Turkey,40.300,43.100,,5.9,,,,140,,
2,3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7,,,,,,
3,4,1901-02-15 00:00,China,26.000,100.100,0,6.5,,,,,,
4,5,1901-03-31 07:11,Bulgaria,43.400,28.700,,6.4,,,,4,,
5,6,1901-08-09 09:23,Japan,40.500,142.500,35,7.2,T,,,,,
6,7,1901-11-15 20:15,New Zealand (see 1901 Cheviot earthquake),-43.000,173.000,0,6.8,,,,1,,
7,8,1902-01-30 14:01,Japan,40.500,141.300,35,6.9,,,,1,,
8,9,1902-02-13 09:39,Azerbaijan,40.700,48.600,15,6.9,,,,86,,
9,10,1902-03-09 07:46,Turkey,40.700,33.600,,5.5,,,,4,,

In [14]:
a=pd.read_sql_query('SELECT * FROM public.earth_quakes_v;',con=engine)
a.head(10)

,index,origin,country,lat,lng,depth_km,mag,len,sec_effects,shaking_deaths,pde_total,utsu_total,em_total,other_deaths,deaths
0,1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0,4,,,,,,,
1,2,1900-07-12 06:25,Turkey,40.300,43.100,,5.9,4,,,,140,,,140
2,3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7,4,,,,,,,
3,4,1901-02-15 00:00,China,26.000,100.100,0,6.5,4,,,,,,,
4,5,1901-03-31 07:11,Bulgaria,43.400,28.700,,6.4,4,,,,4,,,4
5,6,1901-08-09 09:23,Japan,40.500,142.500,35,7.2,4,T,,,,,,
6,7,1901-11-15 20:15,New Zealand (see 1901 Cheviot earthquake),-43.000,173.000,0,6.8,4,,,,1,,,1
7,8,1902-01-30 14:01,Japan,40.500,141.300,35,6.9,4,,,,1,,,1
8,9,1902-02-13 09:39,Azerbaijan,40.700,48.600,15,6.9,4,,,,86,,,86
9,10,1902-03-09 07:46,Turkey,40.700,33.600,,5.5,4,,,,4,,,4