In [3]:
import urllib.request
from bs4 import BeautifulSoup as BS
import pandas as pd

request = urllib.request.Request('https://en.wikipedia.org/wiki/List_of_deadly_earthquakes_since_1900')
result = urllib.request.urlopen(request)
resulttext = result.read()

soup = BS(resulttext, 'html.parser')
soup.prettify


data = []
table = soup.find('table', class_ = 'sortable wikitable')


table = table.find_all('tr')
headers = soup.find_all('th')

for row in table:
    cells = row.find_all('td')
    cells = [ele.text.strip() for ele in cells]
    data.append(cells)
eq_df = pd.DataFrame(data)
  
    
eq_df.columns = ['origin','country','lat','long','depth','mag','sec_effects','shaking_death','pde_total','utsu_total','emdat_total','other']

headers
eq_df.head()

,origin,country,lat,long,depth,mag,sec_effects,shaking_death,pde_total,utsu_total,emdat_total,other
0,None,None,None,None,None,None,None,None,None,None,None,None
1,1900-05-11 17:23,Japan,38.700,141.100,5,7.0 MJMA,,,,,,
2,1900-07-12 06:25,Turkey,40.300,43.100,,5.9 Muk,,,,140,,
3,1900-10-29 09:11,Venezuela,11.000,-66.000,0,7.7 Mw,,,,,,
4,1901-02-15 00:00,China,26.000,100.100,0,6.5 Ms,,,,,,

In [8]:
#headers = [cell.get_text() for cell in headers.find_all('th')]
type(headers)
headers

[<th width="22%">Origin (<a class="mw-redirect" href="/wiki/UTC" title="UTC">UTC</a>)</th>,
 <th width="33%">Present-day country and link to Wikipedia article</th>,
 <th width="10%"><a href="/wiki/Latitude" title="Latitude">Lat</a></th>,
 <th width="10%"><a href="/wiki/Longitude" title="Longitude">Long</a></th>,
 <th width="8%">Depth (<a class="mw-redirect" href="/wiki/Km" title="Km">km</a>)</th>,
 <th width="6%">Magnitude</th>,
 <th width="9%">Secondary Effects</th>,
 <th width="10%">PDE Shaking Deaths</th>,
 <th width="10%">PDE Total Deaths</th>,
 <th width="10%">Utsu Total Deaths</th>,
 <th width="10%">EM-DAT Total Deaths</th>,
 <th width="12%">Other Source Deaths</th>]